body {
	background-color: #eee;
}

.jumbotron {
	height: 220px;
	color: white;
	background: rgb(123,83,165); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(123,83,165,1) 0%, rgba(77,82,153,1) 44%, rgba(55,87,111,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(123,83,165,1)), color-stop(44%,rgba(77,82,153,1)), color-stop(100%,rgba(55,87,111,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(123,83,165,1) 0%,rgba(77,82,153,1) 44%,rgba(55,87,111,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(123,83,165,1) 0%,rgba(77,82,153,1) 44%,rgba(55,87,111,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(123,83,165,1) 0%,rgba(77,82,153,1) 44%,rgba(55,87,111,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(123,83,165,1) 0%,rgba(77,82,153,1) 44%,rgba(55,87,111,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b53a5', endColorstr='#37576f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
}

.nav-section ul {
	padding-left: 5px;
}

.nav-section li {
	list-style-type:none;
}

.main-container {
	padding-bottom: 100px;
	margin-bottom: 50px;
} 


.product-thumbnail {
	text-align:center;
}

.product-thumbnail img {
	width: 100%;
}

.navbar {
	margin-bottom:0;
}

.category-thumb {
	text-align:center;
}
.navbar-text {
	margin:0;
	height: 20px;
	padding: 15px;
}

.image-cropper {
	overflow:hidden;
	height: 198px;		
}

@media screen and (max-width: 766px) {
	.navbar-text {
		text-align:right;
		padding-right: 83px;
	}
	.image-cropper {
		height: 198px;		
	}
}
@media screen and (min-width: 767px) {
	.image-cropper {
		height: 110px;
	}
	
}
@media screen and (min-width: 992px) { 
	.image-cropper {
		height: 156px;
	}
}
@media screen and (min-width: 1200px) { 
	.image-cropper {
		height: 198px;
	}
}
.navbar-toggle {
	background-color:white;
	height: 34px;
	padding: 6px 12px;
}

.left-inner-addon {
  		position: relative;
}
.left-inner-addon input {
   	padding-left: 29px;    
}
.left-inner-addon span {
   	position: absolute;
   	padding: 7px 12px;
   	pointer-events: none;
}

.product-thumbnail h4 {
	max-height: 19px;
	overflow:hiddent;
}

.buy-container {
	/* text-align:center; */
}

.pricetag {
	font-size:5em;	
	text-align:center;
}

.add-to-cart-button {
	font-size: 2em;
	vertical-align:top;
	margin-left:10px;
}
.product-quantity-select {
	display:inline-block;
	font-size: 1.8em;	
	height: 100%;
	width: 70px;
	margin-top:12px;
}

.centralizer {
	text-align:center;
}
.cart-dropdown-menu {
	display:none;
	position:absolute;
	width: 500px;
	top: 50px;
	left:-200px;
	background-color: white;
	border: 1px solid #e7e7e7;
	padding: 10px;
	-webkit-box-shadow: 0px 8px 16px 0px rgba(50, 50, 50, 0.93);
-moz-box-shadow:    0px 8px 16px 0px rgba(50, 50, 50, 0.93);
box-shadow:         0px 8px 16px 0px rgba(50, 50, 50, 0.93);
}

#cart-dropdown-trigger {
	height: 52px;
}


#cart-dropdown-trigger:hover .cart-dropdown-menu {
	display:inline-block;
}

.trash-product-from-cart-column {
	width: 40px;
}

.cart-table tbody tr td {
	vertical-align:middle;
}

.cart-table tr:not(:last-child) td:last-child {
	text-align:center;
	border-left: 1px solid #dddddd;
}
.cart-table tr:last-child, .total-row {
	font-weight:bold;
}
.cart-table img {
	height: 40px;
}
.cart-dropdown-menu .cart-table img {
	height: 20px;
}
.alert {
	margin-bottom:0;
}

.order-table img {
	height: 40px;
}
.order-table tbody tr td {
	vertical-align:middle;
}
.order-table td:last-child, .order-table th:last-child  {
	text-align:right;
	padding-right: 30px;
}
