body {
	background-color: #eee;
}

.jumbotron {
	height: 220px;
	color: white;
	background: rgb(123,83,165); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(123,83,165,1) 0%, rgba(77,82,153,1) 44%, rgba(55,87,111,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(123,83,165,1)), color-stop(44%,rgba(77,82,153,1)), color-stop(100%,rgba(55,87,111,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(123,83,165,1) 0%,rgba(77,82,153,1) 44%,rgba(55,87,111,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(123,83,165,1) 0%,rgba(77,82,153,1) 44%,rgba(55,87,111,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(123,83,165,1) 0%,rgba(77,82,153,1) 44%,rgba(55,87,111,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(123,83,165,1) 0%,rgba(77,82,153,1) 44%,rgba(55,87,111,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b53a5', endColorstr='#37576f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
}

.nav-section ul {
	padding-left: 5px;
}

.nav-section li {
	list-style-type:none;
}

td {
	padding: 5px;
	vertical-align:top;
	border: 1px solid black;
	
}

.product-thumbnail {
	text-align:center;
}

.product-thumbnail img {
	width: 100%;
}

.navbar {
	margin-bottom:0;
}

.category-thumb {
	text-align:center;
}
.navbar-text {
	margin-right:15px;
}

.image-cropper {
	overflow:hidden;
	height: 198px;		
}

@media screen and (max-width: 766px) {
	.navbar-text {
		text-align:right;
		padding-right: 83px;
	}
	.image-cropper {
		height: 198px;		
	}
}
@media screen and (min-width: 767px) {
	.navbar-header:not(.not-logged-in) {
		width: 90%;
	}
	.image-cropper {
		height: 110px;
	}
	
}
@media screen and (min-width: 992px) { 
	.image-cropper {
		height: 156px;
	}
}
@media screen and (min-width: 1200px) { 
	.image-cropper {
		height: 198px;
	}
}
.navbar-toggle {
	background-color:white;
	height: 34px;
	padding: 6px 12px;
}

.left-inner-addon {
  		position: relative;
}
.left-inner-addon input {
   	padding-left: 29px;    
}
.left-inner-addon span {
   	position: absolute;
   	padding: 7px 12px;
   	pointer-events: none;
}

.product-thumbnail h4 {
	max-height: 19px;
	overflow:hiddent;
}
