@(title: String, user: User)(content: Html)
<!DOCTYPE html>
<html><head>
	<meta charset="utf-8">
	<title>@title</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="/assets/stylesheets/main.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="/assets/javascripts/main.js"></script>
</head><body>
<header>

@if(session.containsKey("username")) {
	@menuBarLoggedIn(user)
} else {
	@menuBarLoggedOut()
}
@if(flash().containsKey("icncorrect-information")) {
	<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>There was an error with your E-Mail/Password combination. Please try again.</div>
} 
@if(flash().containsKey("product-added")) {
	<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> Product added to your cart</div>
} 
@if(flash().containsKey("order-placed")) {
	<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> Order placed! Thank You!</div>
} 


</header>
	<div class="jumbotron">
		<div class="container">
			<h1>This is my awesome webshop!</h1>
		</div>
	</div>
	<div class="main-container container well">
		<div class="well col-sm-2 nav-section">
			<ul>
				<li>
					<a href="/">Home</a>		
				</li>
				<li>
					<a href="/products">Products</a>		
				</li>
				<li>
					<a href="/categories">Categories</a>
				</li>
			</ul>
			@if(user != null && user.getStatus() == UserStatus.CUSTOMER) {
				<ul>
					<li>
						<a href="/orders">My Orders</a>
					</li>
				</ul>
			}
			@if(user != null && user.getStatus() == UserStatus.ADMIN) {
				<ul>
					<li>
						<a href="/admin">Admin stuff</a>
					</li>
				</ul>
			}
			
		</div>
		<div class="col-sm-10">
			@content
		</div>
	</div>
</body></html>