@(title: String, user: User)(content: Html)
<!DOCTYPE html>
<html><head>
	<meta charset="utf-8">
	<title>@title</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="/assets/stylesheets/main.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head><body>
<header>

@if(session.get("username") == null) {
	@menuBarLoggedOut()
} else {
	@menuBarLoggedIn(user)
}

</header>
	<div class="jumbotron">
		<div class="container">
			<h1>This is my awesome webshop!</h1>
		</div>
	</div>
	<div class="container well">
		<div class="well col-sm-2 nav-section">
			<ul>
				<li>
					<a href="/">Hem</a>		
				</li>
				<li>
					<a href="/products">Products</a>		
				</li>
				<li>
					<a href="/categories">Categories</a>
				</li>
			</ul>
			@if(user != null && user.getStatus() == UserStatus.ADMIN) {
				<ul>
					<li>
						<a href="/admin">Admin stuff</a>
					</li>
				</ul>
			}
			
		</div>
		<div class="col-sm-10">
			@content
		</div>
	</div>
</body></html>